
.container{
	position: absolute;
	margin-left:20%;
	margin-right: 20%;
	border: 2px solid grey;
	padding: 20px;
	background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
color:white;
}
p{
	font-family: 'Work Sans', sans-serif;
	 line-height: 1.6;
	 padding:2px;
}
h1{
	font-family: 'Crimson Text', serif;
	padding:4px;
	border-bottom:2px solid red;
}

body{

background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
background-repeat: no-repeat;
background-size: cover;
}
img{
	padding:5px;
	border:2px solid red;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	margin-left:10px;
	padding:15px;
	text-align: left;
	color:white;
	font-size: 150%;;
	box-shadow: 10px 10px 5px 0px rgba(82,39,82,1);
	transition: all 0.5s;
}
a:hover{
	box-shadow: 20px 20px 10px 0px rgba(82,39,82,1);
}
html{
	height: 150%;
}
body{
	height: 100%;
	margin: 0;
}